@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --text-color-primary: #6415ff;
    --bg-accent-color: #5011cc;
    --header-text-primary: #1a202c;
    --para-text-primary: #243e63;
    --para-text-secondary: #7c8ba1;
    --header-color-secondary: #243e63;
    --accent-color-one: #cbd5e0;
    --text-accent-color: #718096;
    --gray-accent-text: #a0aec0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: var(--para-text-primary);
}

.border--img {
    border: #e2e2e2 1px solid;
    border-radius: 8px; 
}

.row {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.container {
    padding: 80px 0;
    width: 100vw;
}

figure img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--header-text-primary);
}

p {
    line-height: 28px;
}

header {
    width: 100%;
}

i {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: var(--text-color-primary);
}

.text--purple {
    color: var(--text-color-primary);
}

button {
    border: none;
    background-color: var(--text-color-primary);
    color: #fff;
    font-weight: 700;
    border-radius: 9999px; /* Interesting that this makes the perfect curves for the button*/
}

button:hover {
    cursor: pointer;
}

h3 {
    font-weight: 900;
}

h5 {
    text-transform: uppercase;
}

.section__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.section__heading--wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/*

CSS for headings; can be adjusted, and SHOULD be!

*/

.section__heading--title {
    font-size: 16px;
    margin-bottom: 16px;
}

.section__heading--primary {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: .025rem;
    color: var(--header-color-secondary);
}

.section__heading--para {
    margin: 16px 0 20px 0;
    width: 70%;
    text-align: center;
}

nav {
    width: 100%;
}

#splash {
    margin-top: 32px;
}

.nav__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__logo--img {
    height: 44px;
    padding-right: 8px;
}

.nav__link,
.nav__mobile--link {
    list-style-type: none;
    padding-left: 32px;
}

.nav__link--list {
    display: flex;
    font-weight: 600;
}

.nav__link--anchor {
    padding-bottom: 4px;
    border-bottom: #fff 2px solid;
    transition: all 250ms ease;
}

.nav__link--anchor:hover {
    padding-bottom: 2px;
    border-bottom: var(--text-color-primary) 2px solid;
}

.nav__account--button {
    color: white;
    background-color: var(--bg-accent-color);
    padding: 12px 24px;
    border-radius: 24px;
    border: var(--bg-accent-color) 2px solid;
    transition: all 250ms ease;
}

.nav__account--button:hover {
    background-color: #fff;
    color: var(--bg-accent-color);
}

.nav__menu--button {
    display: none;
}

.nav__menu--card {
    display: none;
}

/* SPLASH SCREEN */

.splash__content--wrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.splash__content--header {
    font-size: 52px;
}

.splash__content--para {
    font-size: 20px;
    margin-bottom: 8px;
}

.splash__content--form {
    padding: 4px;
    margin-right: 16px;
    height: 80px;
    width: 100%;
    border: #b1b1b1 2px solid;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 250ms ease;
}

.splash__content--form:hover {
    border: #1d1d1d 2px solid;
}

.splash__content--form input {
    font-size: 16px;
    border: none;
    margin-left: 16px;
}

.splash__content--form-button {
    border: none;
    color: #fff;
    background-color: var(--bg-accent-color);
    height: 100%;
    font-weight: 600;
    padding: 0 24px;
    border-radius: 40px;
}

.splash__content--clientele h5 {
    margin-bottom: 12px;
    opacity: 50%;
}

.splash__content--clients {
    height: 32px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;
}

.splash__content--client {
    height: 100%;
    filter: grayscale(100%);
    opacity: 50%;
    padding-right: 16px;
}

.splash__content--figure {
    width: 60%;
}

.splash__content--img {
    padding: 8px;
    width: 100%;
}

/*

SERVICES

*/

.services__wrapper {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service {
    width: 30%;
    padding: 32px 8px;
    margin: 0 16px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.service__img {
    position: relative;
    top: 16px;
    padding: 20px;
    border: #ccc 1px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.service__description {
    margin: 8px 0 0 16px;
}

.service__description * {
    margin-top: 16px;
}

.service__description h4 {
    font-size: 24px;
    color: var(--header-color-secondary)
}

.service__description p{
    color: var(--para-text-secondary);
    line-height: 32px;
    font-weight: 500;
}

/*

HIGHLIGHTS

*/

.highlight__wrapper:nth-child(odd) {
    flex-direction: row-reverse;
}

.highlight__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 96px 0;
}

.highlight__img,
.highlight__description {
    width: calc((100% - 64px) / 2); /* Add a 64px wide margin between each figure and description in the .highlight__wrapper */
}

.highlight__description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.highlight__img img {
    width: 100%;
}

.highlight__description--title {
    font-size: 16px;
    text-transform: uppercase;
    color: var(--text-color-primary);
}

.highlight__description--header {
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 1.2px;
    font-weight: 900;
}

.highlight__description--para {
    font-size: 20px;
    color: var(--para-text-secondary);
    font-weight: 500;
    line-height: 28px;
}

.highlight__description--header,
.highlight__description--para {
    margin-top: 16px;
}

.highlight__description--button {
    width: 148px;
    padding: 12px 32px;
    margin-top: 32px;
    font-size: 14px;
    line-height: 20px;
}

.step {
    margin-top: 32px;
    display: flex;
}

.step h3 {
    font-size: 36px;
    color: var(--accent-color-one);
    font-weight: 600;
}

.step__description {
    margin-left: 24px;
    width: 50%;
}

.step__description h4 {
    font-size: 20px;
    line-height: 20px;
    color: var(--para-text-primary);
}

.step__description p {
    font-size: 14px;
    line-height: 28px;
    margin-top: 12px;
    color: var(--text-accent-color);
    font-weight: 500;
}

.values__wrapper {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.value {
    width: calc((100% - 32px)/ 2);
}

.value__header {
    display: flex;
    align-items: center;
}

.value__header i {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.color--green i {
    background-color: #9ae6b4;
    color: #276749;
}

.color--red i {
    background-color: #feb2b2;
    color: #9b2c2c;
}

.value__header h4 {
    margin-left: 12px;
    font-size: 20px;
    color: var(--header-color-secondary);
}

.value__para {
    color: #718096;
    font-size: 16px;
    line-height: 26px;
    margin-top: 16px;
}

/*

PRICING PLANS / MEMBERSHIPS

*/

.pricing__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.pricing__tiers--wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plan {
    margin-top: 8px;
    width: 384px;
    border-radius: 4px;
    overflow: hidden;
    border: lightgrey 1px solid;
    box-shadow: 0 0 20px 2px #d1d1d1;
}

.plan__top--border {
    height: 8px;
    width: 100%;
}

.border--1,
.plan__purchase--button-1 {
    background-image: linear-gradient(90deg, #39B3AC, #81E6D9);
}

.plan__box {
    border-bottom: lightgray 1px solid;
    border-top: none;
    width: 100%;
}

.plan__box--price {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan--title {
    font-size: 20px;
    text-transform: uppercase;
    line-height: 32px;
}

.plan--price {
    font-size: 48px;
    margin: 4px 0;
    line-height: 78px;
}

.monthly {
    font-size: 16px;
    color: var(--gray-accent-text);
    text-transform: uppercase;
}

.plan__box--feature {
    padding: 32px;
}

.plan--subtitle {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1px;
}

.feature__list--item {
    margin-top: 20px;
    text-align: center;
    list-style-type: none;
    font-weight: 500;
    color: var(--text-accent-color);
}

.plan__box--purchase {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.plan__purchase--button {
    width: 192px;
    height: 50px;
    padding: 16px 32px;
    font-size: 16px;
    text-transform: uppercase;
}

.plan-mid {
    background-image: linear-gradient(45deg, #000569, #667DEA);
}

.plan-mid h4,
.plan-mid h2 {
    color: #fff;
}

.plan-mid h5,
.plan-mid li {
    color: #E2E8F0;
}

.plan__purchase--button-2 {
    background-color: #fff;
    color: #4B10B3;
}

.border--3,
.plan__purchase--button-3 {
    background-image: linear-gradient(90deg,#F66666, #FDADAD);
}

/*

TESTIMONIALS

*/

.testimonial__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.testimonial__img,
.testimonial__description {
    width: 50%;
}

.testimonial__img img {
    width: 100%;
}

.testimonial__description {
    display: flex;
    flex-direction: column;
    justify-items: space-between;
}

.testimonial__description h5 {
    color: var(--text-color-primary);
    line-height: 24px;
    letter-spacing: 2px;
    font-size: 16px;
}

.testimonial__description h2 {
    font-size: 48px;
    margin-top: 16px;
    line-height: 60px;
    font-weight: 800;
}

.testimonial__description p {
    margin: 24px 0;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: normal;
}

.testimonial__example {
    width: 98%;
    margin: 0 auto;
}

.testimonial__example h4 {
    font-size: 20px;
}

.testimonial-rating {
    display: flex;
    padding-bottom: 16px;
}

.testimonial-rating i {
    width: auto;
    color: #F6AD55;
}

.example__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.example__person {
    display: flex;
    align-items: center;
}

.person__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.person__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 8px;
}

.person__title h4 {
    color: #243E63;
    font-size: 20px;
}

.person__title h5 {
    color: #7c8ba1;
    font-size: 16px;
    text-transform: none;
    font-weight: 600;
    line-height: normal;
    letter-spacing: normal;
}

.example__buttons {
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 4px;
}

.example__buttons button {
    background-color: #E2E8F0;
    text-align: center;
    height: 48px;
    width: 48px;
    padding: 16px;
    margin: 0 12px;
}

.example__buttons button i {
    color: var(--text-color-primary);
}

/*

SUB-FOOTER

*/

.sub-footer__box--purple {
    background-image: linear-gradient(60deg, #6415ff, #5A13E6);
    width: 100%;
    height: 282px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    border-radius: 8px;
    box-shadow: 2px 2px 12px 12px #9b9b9b;
}

.sub-footer__box--heading {
    font-size: 32px;
    line-height: 45px;
    width: 480px;
    color: #F8FAFC;
}

.sub-footer__box--buttons {
    display: flex;
    justify-content: flex-end;
}

.sub-footer__box--button {
    margin-left: 32px;
    height: 64px;
    width: 176px;
    font-weight: 700;
    font-size: 16px;
    background-color: inherit;
    border: 1px #f8f8f8 solid;
    transition: all 300ms ease;
}

.button-fill-red {
    background-color: #f56565;
    border: none;
}

.sub-footer__box--button:hover {
    color: var(--text-color-primary);
    background-color: #f8f8f8;
}

.button-fill-red:hover {
    background-color: #E53E3E;
    color: #f8f8f8;
}

/*

FOOTER

*/

footer {
    background-color: var(--text-color-primary);
    margin-top: 100px;
}

footer * {
    color: white;
}

.footer__content--wrapper {
    width: 100%;
    display: flex;
    flex-direction: column; /* Contains two children */
    justify-content: space-between;
}

.footer__links--wrapper {
    width: 100%;
    border-bottom: 1px dotted maroon;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.footer__list--header {
    font-size: 16px;
    padding-bottom: 20px;
}

.footer__link--list {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__link--list-item {
    list-style-type: none;
}

.footer__link--bullet {
    border-bottom: 2px solid var(--text-color-primary);
    padding-bottom:  4px;
    transition: all 300ms ease;
}

.footer__link--bullet:hover {
    border-bottom: 2px solid white;
    padding-bottom: 2px;
    color: white;
}

.footer__closer--wrapper {
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__closer--one, 
.footer__closer--two, 
.footer__closer--three {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer__closer--logo {
    height: 44px;
    padding-right: 8px;
}

.footer__logo--title {
    letter-spacing: 1px;
}

.footer__closer--button {
    background-color: white;
    height: 40px;
    width: 40px;
    transition: all 300ms ease;
}

.footer__closer--button:hover {
    background-color: lightgray;
}

.footer__button--i i {
    color: #000;
    font-size: 16px;
}

/*

Responsiveness

*/

@media (max-width: 768px) {

    .container {
        padding: 48px 0;
    }

    .row {
        flex-direction: column;
        width: 90%;
    }
    
    .nav__link--list {
        display: none;
    }

    .nav__menu--button {
        display: block;
    }

    .nav__menu--card {
        display: none;
        position: fixed;
        top: 32px;
        width: 90vw;
        height: auto;
        padding: 32px 0;
        border: 1px lightgray solid;
        z-index: 2;
        background-color: white;
    }

    .nav__mobile--links {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
    }

    .nav__mobile--lin                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                k {
        padding: 12px 0;
    }

    .nav__menu--button {
        font-size: 20px;
        background-color: white;
        font-weight: 800;
        border-radius: 9999px;
    }

    .nav__menu--button div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav__mobile--anchor {
        font-size: 1.125rem;
    }

    .nav__account--button {
        margin-top: 10000px;
    }

    .nav__link--final {
        margin: 16px 0;
    }

    .splash__content--wrapper,
    .splash__content--figure {
        width: 100%;
    }

    .splash__content--header {
        font-size: 1.875rem;
        padding: 8px;
        text-align: center;
    }

    .splash__content--para {
        text-align: center;
        margin: 20px 0;
        font-size: 1rem;
        line-height: 24px;
    }

    .splash__content--form {
        width: 448px;
        margin: 20px auto;
    }

    .splash__content--clientele {
        margin-top: 24px;
    }

    .splash__content--clientele h5 {
        text-align: center;
        padding-bottom: 16px;
    }

    .splash__content--clients {
        justify-content: center;
        gap: 24px;
    }

    .splash__content--client {
        padding: 0;
    }

    .splash__content--figure {
        width: 100%;
        margin-top: 32px;
    }

    /*
    
    Resp: FEATURES

    */

    .section__heading--wrapper {
        width: 100%;
    }

    .section__heading--para {
        width: 90%;
    }

    .services__wrapper {
        width: 100%;
    }

    .service {
        width: 45%;
    }

    /*
    
    Resp: HIGHLIGHTS
    
    */

    .highlight__wrapper {
        gap: 32px;
    }

    .highlight__img {
        width: 55%;
    }

    .highlight__description {
        width: 45%;
    }

    .highlight__description--header {
        font-size: 36px;
        line-height: 2.8rem;
    }

    .highlight__description--para {
        font-size: 16px;
    }

    .step__description {
        width: 70%;
    }

    .values__wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .value {
        width: 100%;
    }

    /*
    
    Resp: MEMBERSHIPS
    
    */

    .pricing__tiers--wrapper {
        flex-direction: column;
        margin: 0 auto;
        gap: 32px;
    }

    /*
    
    Resp: TESTIMONIALS
    
    */

    .testimonial__wrapper {
        justify-content: space-between;
    }

    .testimonial__img {
        width: 45%;
    }

    .testimonial__description {
        width: 50%;
    }

    .testimonial__description h2 {
        font-size: 40px;
        line-height: 48px;
    }

    .testimonial__description p {
        font-size: 16px;
        line-height: 24px;
    }

    .person__title {
        padding-left: 12px;
    }

    .person__title h4 {
        font-size: 16px;
    }

    .person__title h5 {
        font-size: 14px;
    }

    /*
    
    Resp: SUB-FOOTER
    
    */

    .sub-footer__box--purple {
        flex-direction: column;
        height: 320px;
    }

    .sub-footer__box--heading {
        text-align: center;
    }
}