@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --text-color-primary: #6415ff;
    --bg-accent-color: #5011cc;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

header {
    width: 100%;
}

.container {
    padding: 80px 0;
}

i {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: var(--text-color-primary);
}

.text--purple {
    color: var(--text-color-primary);
}

/*
figure img {
    height: 100%;
    width: 100%;
}
*/

h3 {
    font-weight: 900;
}

h5 {
    text-transform: uppercase;
}

.section__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.section__heading--wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.section__heading--title {
    font-size: 16px;
    margin-bottom: 16px;
}

.section__heading--primary {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: .025rem;
}

.section__heading--para {
    margin: 16px 0 20px 0;
    width: 70%;
    text-align: center;
}

.section__title {
    font-weight: 700;
    margin-bottom: 16px;
}

nav {
    width: 100%;
}

#splash {
    margin-top: 32px;
}

.nav__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__logo--img {
    height: 44px;
    padding-right: 8px;
}

ul li {
    list-style-type: none;
    padding-left: 32px;
}

.nav__link--list {
    display: flex;
    font-weight: 600;
}

.nav__link--anchor {
    padding-bottom: 4px;
    border-bottom: #fff 2px solid;
    transition: all 250ms ease;
}

.nav__link--anchor:hover {
    padding-bottom: 2px;
    border-bottom: var(--text-color-primary) 2px solid;
}

.nav__account--button {
    color: white;
    background-color: var(--bg-accent-color);
    padding: 12px 24px;
    border-radius: 24px;
    border: var(--bg-accent-color) 2px solid;
    transition: all 250ms ease;
}

.nav__account--button:hover {
    background-color: #fff;
    color: var(--bg-accent-color);
}

/* SPLASH SCREEN */

.splash__content--wrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.splash__content--header {
    font-size: 52px;
}

.splash__content--para {
    font-size: 20px;
    margin-bottom: 8px;
}

.splash__content--form {
    padding: 4px;
    margin-right: 16px;
    height: 80px;
    width: 100%;
    border: #b1b1b1 2px solid;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 250ms ease;
}

.splash__content--form:hover {
    border: #1d1d1d 2px solid;
}

.splash__content--form input {
    font-size: 16px;
    border: none;
    margin-left: 16px;
}

.splash__content--form-button {
    border: none;
    color: #fff;
    background-color: var(--bg-accent-color);
    height: 100%;
    font-weight: 600;
    padding: 0 24px;
    border-radius: 40px;
}

.splash__content--clientele h5 {
    margin-bottom: 12px;
    opacity: 50%;
}

.splash__content--clients {
    height: 32px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;
}

.splash__content--client {
    height: 100%;
    filter: grayscale(100%);
    opacity: 50%;
    padding-right: 16px;
}

.splash__content--figure {
    width: 60%;
}

.splash__content--img {
    padding: 8px;
    width: 100%;
}

/*

FEATURES

*/

/*

.feature__wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feature__box {
    height: 200px;
    padding: 8px;
    margin: 0 12px 24px 12px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.feature__box--icon {
    color: var(--text-color-primary);
    font-size: 24px;
    height: 60px;
    width: 60px;
    border: #ccc 1px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-self: center;
}

.feature__description {
    padding: 0 8px;
}

*/

.feature__wrapper {
    width: 100%;
}

.feature__box {
    width: calc(100%/3);
    padding: 32px 8px;
    margin: 0 32px;
    display: flex;
    justify-content: space-between;
}

.feature__icon {
    color: var(--text-color-primary);
    height: 24px;
    width: 24px;
    padding: 20px;
    border: #b4b4b4 1px solid;
    border-radius: 9999px;
    text-align: center;
}

.feature__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feature__description h4 {
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: 800;
    color: var(--text-color-primary);
}

.feature__description p {
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
}